{% extends 'books/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="d-flex">

        <form autocomplete="off"
              class="ml-3 d-flex align-content flex-wrap"
              id="google_search" name="google_search"
              hx-post="{% url 'google-search' %}"
              hx-target="#google_search_results"
              hx-swap="outerHTML"
              hx-trigger="submit, input delay:500ms"
        >
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" class="hidden-button">
        </form>
    <div>
        <a href="{% url 'book-list' %}">
            <img class="image-button mb-2" src="{% static 'images/go_back.png' %}">
        </a>
    </div>

    </div>

        {% include 'books/import_from_google_results.html' %}

    <script type="text/javascript" src="{% static 'htmx.min.js' %}"></script>
{% endblock content %}